.terminal {
  background: rgba(0, 0, 0, 0.2);
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
  border-left: rgba(255, 255, 255, 0.3) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  overflow: hidden;
  margin-top: 50px;
  min-height: 700px;
  position: relative;
  z-index: 10;

  @media (max-width: 767px) {
    margin-top: 15px;
    min-height: 350px;
    padding:15px;
  }

  .terminal-header {
    padding: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.1);
    margin: -30px -30px 30px;

    @media (max-width: 767px) {
      padding:15px;
      margin: -15px -15px 15px;
    }
  }

  .terminal-content {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    bottom: 90px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 30px;
    //    top: 90px;
    overflow: auto;
    max-height: 518px;

    color: #96dbff;

    @media (max-width: 767px) {
      padding:0 15px;
      max-height: 228px;
      bottom: 60px;
    }

    .input {
      margin-bottom: 5px;
    }

    p {
      //      display: none;
      opacity: 0;
      transform: translateX(-50px);
      transition: .6s;

      &.active {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .response {
      color: #fff57d;
    }
  }

  .terminal-bottom {
    padding: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 90px;
    height: 90px;

    @media (max-width: 767px) {
      right: 60px;
      padding:15px;
      height: 60px;
    }

    input {
      background: none;
      color: #ffffff;
      color: #96dbff;
      border: none;
      width: 100%;
      outline: none;
      font-family: Consolas, "Lucida Console", Monaco, monospace;
    }
  }

  .terminal-button {
    background: $blue;
    text-align: center;
    line-height: 90px;
    height: 90px;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 90px;
    font-size: 30px;
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    border-left: rgba(255, 255, 255, 0.3) 1px solid;
    cursor: pointer;
    transition: .3s;

    @media (max-width: 767px) {
      line-height: 60px;
      height: 60px;
      width: 60px;
      font-size: 24px;
    }

    &:hover {
      background: lighten($blue, 5%);
    }
  }
}

.profile {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  //    border-top: rgba(255, 255, 255, 0.3) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  border-left: rgba(255, 255, 255, 0.3) 1px solid;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin-top: 50px;
  min-height: 700px;

  @media (max-width: 767px) {
    margin-top: 15px;
    padding: 15px;
    min-height: initial;
    min-height: auto;
  }

  .profile-title {
    border-radius: 8px 8px 0 0;
    padding: 30px;
    line-height: 30px;
    background: $blue;
    margin: -30px -31px 30px;
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    border-left: rgba(255, 255, 255, 0.3) 1px solid;

    @media (max-width: 767px) {
      padding:15px;
      margin: -15px -15px 15px;
    }
  }

  p {
    span {
      font-weight: bold;
      //      color: #fff57d;
    }
  }
}