.terminal {
  background: rgba(0, 0, 0, 0.2);
  border-top: rgba(255, 255, 255, 0.1) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px;
  overflow: hidden;
  margin-top: 30px;
  min-height: 700px;
  position: relative;

  .terminal-content {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    bottom: 90px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 30px;

    color: #96dbff;

    .input {
      margin-bottom: 5px;
    }

    .response {
      color: #fff57d;
    }
  }

  .terminal-bottom {
    padding: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.2);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 90px;
    height: 90px;

    input {
      background: none;
      color: #ffffff;
      border: none;
      width: 100%;
      outline: none;
      font-family: Consolas, "Lucida Console", Monaco, monospace;
    }
  }

  .terminal-button {
    background: $blue;
    text-align: center;
    line-height: 90px;
    height: 90px;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 90px;
    font-size: 30px;
    border-top: rgba(255, 255, 255, 0.1) 1px solid;
    border-left: rgba(255, 255, 255, 0.1) 1px solid;
    cursor: pointer;
  }
}

.profile {
  background: $blue;
  border-top: rgba(255, 255, 255, 0.1) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px;
  overflow: hidden;
  margin-top: 30px;
  min-height: 700px;
}