<div class="container">
    <div class="col-sm-4">
        <div class="row">
            <div class="profile">
                <h1>Yieldify Adventure</h1>

                <p>Points <span class="pull-right">28</span></p>

            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="terminal">
                <h1>Terminal</h1>

                <p class="terminal-content">
                    hello
                </p>

                <div class="terminal-bottom">
                    <input type="text" placeholder="Type a command"/>
                </div>
            </div>
        </div>
    </div>
</div>