<div ng-controller="TerminalCtrl">

    <div class="container">
        <div class="col-sm-4">
            <!--<div class="row">-->
                <div class="profile">
                    <h1 class="profile-title">Yieldify Adventure</h1>

                    <p>Points <span class="pull-right">{{getStatus().points}}</span></p>
                    <p>Location <span class="pull-right">{{getStatus().location}}</span></p>
                    <p>Position <span class="pull-right">{{getStatus().position}}</span></p>
                    <p>Facing <span class="pull-right">{{getStatus().facing}}</span></p>

                </div>
            <!--</div>-->
        </div>

        <div class="col-sm-8">
            <!--<div class="row">-->
                <div class="terminal">
                    <h1 class="terminal-header">Terminal</h1>

                    <div class="terminal-content">
                        <p class="{{message.type}}" ng-repeat="message in getMessages() track by $index" ng-bind="message.message"></p>
                    </div>

                    <div class="terminal-bottom">
                        <input class="terminal-input" type="text" placeholder="Please enter a command" ng-model="command" ng-enter="execute()"/>
                    </div>

                    <div class="terminal-button" ng-click="execute()"><i class="fa fa-check"></i></div>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>