html {
  overflow-x: hidden; }

body {
  min-height: 100vh;
  background-image: url("/public/img/8.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

[ng-controller] {
  display: inline; }

input, textarea {
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

h1, h2, h3, p {
  margin: 0 0 30px;
  font-weight: 100; }

h1 {
  font-size: 24px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 18px; } }

p {
  margin: 0 0 15px;
  font-weight: 200; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8); }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

.terminal {
  background: rgba(0, 0, 0, 0.2);
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
  border-left: rgba(255, 255, 255, 0.3) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  overflow: hidden;
  margin-top: 50px;
  min-height: 600px;
  position: relative;
  z-index: 10; }
  @media (max-width: 767px) {
    .terminal {
      margin-top: 15px;
      min-height: 350px;
      padding: 15px; } }
  .terminal .terminal-header {
    padding: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.1);
    margin: -30px -30px 30px; }
    @media (max-width: 767px) {
      .terminal .terminal-header {
        padding: 15px;
        margin: -15px -15px 15px; } }
  .terminal .terminal-content {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    bottom: 90px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 30px;
    overflow: auto;
    max-height: 418px;
    color: #96dbff; }
    @media (max-width: 767px) {
      .terminal .terminal-content {
        padding: 0 15px;
        max-height: 228px;
        bottom: 60px; } }
    .terminal .terminal-content .input {
      margin-bottom: 5px; }
    .terminal .terminal-content p {
      opacity: 0;
      -webkit-transform: translateX(-50px);
          -ms-transform: translateX(-50px);
              transform: translateX(-50px);
      -webkit-transition: .6s;
              transition: .6s; }
      .terminal .terminal-content p.active {
        opacity: 1;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }
    .terminal .terminal-content .response {
      color: #fff57d; }
  .terminal .terminal-bottom {
    padding: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 90px;
    height: 90px; }
    @media (max-width: 767px) {
      .terminal .terminal-bottom {
        right: 60px;
        padding: 15px;
        height: 60px; } }
    .terminal .terminal-bottom input {
      background: none;
      color: #ffffff;
      color: #96dbff;
      border: none;
      width: 100%;
      outline: none;
      font-family: Consolas, "Lucida Console", Monaco, monospace; }
  .terminal .terminal-button {
    background: #48a0e2;
    text-align: center;
    line-height: 90px;
    height: 90px;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 90px;
    font-size: 30px;
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    border-left: rgba(255, 255, 255, 0.3) 1px solid;
    cursor: pointer;
    -webkit-transition: .3s;
            transition: .3s; }
    @media (max-width: 767px) {
      .terminal .terminal-button {
        line-height: 60px;
        height: 60px;
        width: 60px;
        font-size: 24px; } }
    .terminal .terminal-button:hover {
      background: #5eabe5; }

.profile {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  border-left: rgba(255, 255, 255, 0.3) 1px solid;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin-top: 50px;
  min-height: 600px; }
  @media (max-width: 767px) {
    .profile {
      margin-top: 15px;
      padding: 15px;
      min-height: initial;
      min-height: auto; } }
  .profile .profile-title {
    border-radius: 8px 8px 0 0;
    padding: 30px;
    line-height: 30px;
    background: #48a0e2;
    margin: -30px -31px 30px;
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
    border-left: rgba(255, 255, 255, 0.3) 1px solid;
    border-right: rgba(0, 0, 0, 0.1) 1px solid; }
    @media (max-width: 767px) {
      .profile .profile-title {
        padding: 15px;
        margin: -15px -15px 15px; } }
  .profile p span {
    font-weight: bold;
    color: #96dbff; }
