<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>Yieldify Adventure</title>

    <meta name="description" content=""/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body data-ng-app="app">
<div ng-controller="TerminalCtrl">

    <div class="container">
        <div class="col-sm-5 col-md-4">
            <div class="profile">
                <h1 class="profile-title">Yieldify Adventure</h1>

                <p>Points <span class="pull-right">{{getStatus().points}}</span></p>

                <p>Location <span class="pull-right">{{getStatus().location}}</span></p>

                <p>Position <span class="pull-right">{{getStatus().position}}</span></p>

                <p>Facing <span class="pull-right">{{getStatus().facing}}</span></p>

            </div>
        </div>

        <div class="col-sm-7 col-md-8">
            <div class="terminal">
                <h1 class="terminal-header">Terminal</h1>

                <div class="terminal-content">
                    <p class="{{message.type}}" ng-repeat="message in getMessages() track by $index" ng-bind="message.message"></p>
                </div>

                <div class="terminal-bottom">
                    <input class="terminal-input" type="text" placeholder="Please enter a command" ng-model="command" ng-enter="execute()"/>
                </div>

                <div class="terminal-button" ng-click="execute()"><i class="fa fa-check"></i></div>
            </div>
        </div>
    </div>
</div>
<div data-template="footer">
    <div class="footer">
    </div>
</div>

<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>
</body>
</html>